/*
Robert Pearce
(702) 334-3410
12/20/2023
*/

:root {
  --jet         : #323232;
  --indigoDye   : #09405B;
  --pictonBlue  : #00A5E0;
  --mintGreen   : #D7F1EC;
  --White       : #FFFFFF;
}

/* Section for nav bar. */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  .body-text {  
    display: flex;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--jet);
    font-family: "Montserrat", sans-serif;
  }
  
  .heading {
    color: var(--White);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: var(--White);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 16px;
  }
  
  .nav-links a:hover:not(.active) {
    background-color: var(--indigoDye);
  }
  
  .nav-links li a.active {
    background-color: var(--indigoDye);
  }